.blog-title {
    font-size: 2.5rem !important;
    margin-bottom: 0px !important;

    a {
        color: #363636;
    }
}

@media (max-width: 768px) {
    .blog-title {
        font-size: 2rem !important;
    }
}

.blog-author-date {
    margin-bottom: 2%;
}

.blog-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blog-space-post {
    margin-bottom: 5rem;
}

.font-mobile {
    font-size: 2rem !important;
}

@media(max-width: 767px) { /* <== You can change this break point as per your  needs */
    .custom-columns {
      flex-direction: column-reverse;
      display: flex;
    }
  }