language: python
python:
  - "3.7"
env:
  global:
    - DJANGO_SETTINGS_MODULE="merken.settings.testing"
# command to install dependencies
install:
  - pip install -r test_requirements.txt

before_script:
  - python manage.py migrate
# command to run tests
script:
  - coverage run manage.py test