language: python
python:
  - "3.7-dev"
env:
  - DJANGO_SETTINGS_MODULE="merken.settings.testing"
  - SECRET_KEY="$9597jcpibr3w!$(y^lm+77qp()*wc^ty%ak4v!g(@1=9p!^kp"
  - DEBUG=True
# command to install dependencies
install:
  - pip install -r test_requirements.txt

before_script:
  - python manage.py migrate
# command to run tests
script:
  - coverage run manage.py test