coverage==4.5.3
Django==2.1.8
mistune==0.8.4
python-decouple==3.1
psycopg2-binary==2.8.2
django-debug-toolbar==1.11
whitenoise==4.1.2
django-robots==3.1
django-cachalot==2.1
djangorestframework==3.9
django-webpack-loader==0.6.0