{% extends 'base_sidebar.html' %}

{% block seo %}
<meta property="og:title" content="{{ page.title }} - {{  }}">
<link rel="canonical" href="{{  }}/{{ page.url }}">
<meta property="og:url" content="{{ l }}/{{ page.url }}">
<meta name="description" content="{{ page.overview }}">
<meta property="og:description" content="{{ page.overview }}">
<meta name="twitter:description" content="{{ page.overview }}" />
{% endblock seo %}

{% block title %}
<title>{{ page.title }} - {{  }}</title>
{% endblock title %}

{% block main_column %}
{{ page.content|render_markdown }}
{% endblock main_column %}