{% extends 'base_sidebar.html' %}
{% load markdown_tag %}

{% block seo %}
  <meta property="og:title" content="{{ page.title }} - {{ site_name }}">
  <link rel="canonical" href="https://www.pythoncheatsheet.org/{{ page.url }}">
  <meta property="og:url" content="https://www.pythoncheatsheet.org/{{ page.url }}">
  <meta name="description" content="{{ page.overview }}">
  <meta property="og:description" content="{{ page.overview }}">
  <meta name="twitter:description" content="{{ page.overview }}"/>
{% endblock seo %}

{% block title %}
  <title>{{ page.title }} - {{ site_name }}</title>
{% endblock title %}

{% block main_column %}
    {{ page.content|render_markdown }}
{% endblock main_column %}