{% extends 'base_sidebar.html' %}
{% load markdown_tag solo_tags %}

{% block seo %}
  {% get_solo 'dashboard.SiteConfiguration' as site_config %}
  <meta property="og:title" content="{{ page.title }} - {{ site_config.site_name }}">
  <link rel="canonical" href="{{ site_config.canonical_url }}/{{ page.url }}">
  <meta property="og:url" content="{{ site_config.canonical_url }}/{{ page.url }}">
  <meta name="description" content="{{ page.overview }}">
  <meta property="og:description" content="{{ page.overview }}">
  <meta name="twitter:description" content="{{ page.overview }}"/>
{% endblock seo %}

{% block title %}
  {% get_solo 'dashboard.SiteConfiguration' as site_config %}
  <title>{{ page.title }} - {{ site_config.site_name }}</title>
{% endblock title %}

{% block main_column %}
  {{ page.content|render_markdown }}
{% endblock main_column %}