.share {
    border: 1px solid;
    border-radius: 3px;
    margin-right: .75rem;
    width: 25px;
    height: 25px;
}

.twitter {
    color: #03acef;
}

.facebook {
    color: #3c5a9a;
}

.google {
    color: #dc4b3a;
}