{% extends 'base_sidebar.html' %}
{% load markdown_tag solo_tags %}

{% block seo %}
  {% get_solo 'dashboard.SiteConfiguration' as site_config %}
  <meta property="og:title" content="{{ user.username }} - {{ site_config.site_name }}">
  <link rel="canonical" href="{{ site_config.canonical_url }}/author/{{ user.username }}">
  <meta property="og:url" content="{{ site_config.canonical_url }}/author/{{ user.username }}">
  <meta name="description" content="{{ user.username }} - {{ user.about|render_markdown|striptags }}">
  <meta property="og:description" content="{{ user.username }} - {{ user.about|render_markdown|striptags }}">
  <meta name="twitter:description" content="{{ user.username }} - {{ user.about|render_markdown|striptags }}"/>
{% endblock seo %}

{% block title %}
  {% get_solo 'dashboard.SiteConfiguration' as site_config %}
  <title>About {{ user.username }} - {{ site_config.site_name }}</title>
{% endblock title %}

{% block main_column %}
<!-- avatar -->
<section class="is-centered">

  <!-- avatar -->
  <nav class="level">
    <p class="level-item has-text-centered">
      <!-- use gravatar api -->
      <img style="border-radius:50%" src="{{ gravatar }}" alt="About {{ user.username }}" style="height: 180px;">
    </p>
  </nav>

  <!-- social media -->
  <div class="container column is-3">
    <nav class="level is-mobile">
      <!-- website -->
      {% if user.website %}
        <a href="{{ user.website }}" class="level-item">
          <span class="icon is-medium ">
            <i class="fas fa-link fa-lg "></i>
          </span>
        </a>
      {% endif %}

      <!-- github -->
      {% if user.github %}
        <a href="{{ user.github }}" class="level-item ">
          <span class="icon is-medium ">
            <i class="fab fa-github fa-lg"></i>
          </span>
        </a>
      {% endif %}

      <!-- twitter -->
      {% if user.twitter %}
        <a href="{{ user.twitter }}" class="level-item">
          <span class="icon is-medium ">
            <i class="fab fa-twitter fa-lg"></i>
          </span>
        </a>
      {% endif %}
    </nav>
  </div>

  <!-- username or screen name -->
  <div class="has-text-centered">
    <h1 class="author-title">About {{ user.username }}</h1>
  </div>

  <!-- about -->
  <section class="content has-text-centered">
    {% if user.about %}
      <p>{{ user.about|render_markdown }}</p>
    {% endif %}
  </section>
  <br>

  <!-- blog posts -->
  <div>
    <h2 class="author-title level-item">Blog Posts by {{ user.username }}</h2>
    <ul style="list-style-type:disc">
      {% for article in user.article_set.all %}
        <li>
          <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

</section>
{% endblock main_column %}
