<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'merken/includes/head.html' %}

  <!-- seo -->
  {% block seo %}{% endblock seo %}

  {% block schema %}
  <!-- schema.org -->
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Website",
      "publisher": "{{ settings.publisher }}",
      "url": "{{ settings.canonical_url }}",
      "description": "{{ settings.site_description }}"
    }
  </script>
  {% endblock schema %}

  <!-- title -->
  {% block title %}{% endblock title %}

  <!-- css -->
  {% block css %}{% endblock css %}
</head>

<body class="has-navbar-fixed-top">
  {% include 'merken/includes/navbar.html' %}

  <section class="content">
    {% block content %}
    {% endblock content %}
  </section>

  <!-- footer -->
  {% block footer %}{% endblock footer %}

  <!-- javascript -->
  {% block javascript %}{% endblock javascript %}
</body>

</html>