.forkme {
    border: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
}

.navbar-end {
    padding-right: 140px;
}

.navbar-brand {
    padding-left: 70px;
}

.do-sponsor {
    width: 10%;
}

.footer {
    padding: 3rem 1.5rem;
    background: #f7f4f4;
}
