{% extends 'merken/base_sidebar.html' %}
{% load static markdown_tag  %}

{% block seo %}
  <meta property="og:title" content="{{ article.title }} - {{ settings.site_name }}">
  <link rel="canonical" href="{{ settings.canonical_url }}/blog/{{ article.url }}">
  <meta property="og:url" content="{{ settings.canonical_url }}/blog/{{ article.url }}">
  <meta name="description" content="{{ article.overview|render_markdown|striptags }}">
  <meta property="og:description" content="{{ article.overview|render_markdown|striptags }}">
  <meta name="twitter:description" content="{{ article.overview|render_markdown|striptags }}" />
{% endblock seo %}

{% block title %}
  <title>{{ article.title }} - {{ settings.site_name }}</title>
{% endblock title %}

{% block css %}
  <link rel="stylesheet" href="{% static 'merken/css/atom-one-dark-min.css' %}">
{% endblock css %}

{% block main_column %}
  <!-- article -->
  {% include 'merken/blog/includes/article-detail.html' %}
  <hr>
  <!-- share and article tags -->
  {% include 'merken/blog/includes/article-bottom.html' %}

  {% if article.allow_comments %}
    <br><br>
    <div id="disqus_thread"></div>
  {% endif %}
{% endblock main_column %}

{% block javascript %}
<script type="text/javascript" src="{% static 'merken/js/article-index.js' %}"></script>

<!-- highlight -->
<script type="text/javascript" src="{% static 'merken/js/highlight.pack.js' %}"></script>
<script>
  hljs.initHighlightingOnLoad();
</script>

<!-- tiny quoter -->
<script src="{% static 'merken/js/tinyquoter.min.js' %}"></script>
<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    window.TinyQ.init();
  });
</script>

<!-- disqus -->
<script>
  var disqus_config = function () {
    this.page.url =
    "{{ settings.canonical_url }}/blog/{{ article.url }}"; // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = "{{ article.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };

  (function () { // DON'T EDIT BELOW THIS LINE
    var d = document,
      s = d.createElement('script');
    s.src = 'https://python-cheatsheet.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>
  Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>

<!-- addthis -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b05cb2ae9e75f31"></script>
<script type="text/javascript">
  var addthis_share = {
    url: "{{ settings.canonical_url }}/blog/{{ article.url }}",
    title: "{{ article.title }}",
  };
</script>
{% endblock javascript %}