{% load static %}
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      2019 <strong>Python Cheatsheet</strong> by
      <a href="https://twitter.com/pyCheatsheet">@pyCheatsheet</a>.
      <span class="icon">
        <i class="fas fa-rss-square"></i>
      </span>
      Subscribe to our <a href="{% url 'blog_app:rss_feed' %}">RSS</a> feed.
      <br>
      Sponsored by
      <a href="https://www.digitalocean.com/"><img src="{% static 'merken/img/DO_Logo_Horizontal_Black.png' %}"
          alt="Sponsored by DigitalOcean"></a>
    </p>
  </div>
</footer>