{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="{% static 'merken/css/bulma.min.css' %}">
<link rel="stylesheet" href="{% static 'merken/css/custom.min.css' %}">

<!-- metadata -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="{{ settings.publisher }}">
<meta name="twitter:card" content="summary">
<meta name="twitter:creator" content="@pyCheatsheet">
<meta name="twitter:site" content="@pyCheatsheet">
<meta property="twitter:image" content="https://raw.githubusercontent.com/wilfredinni/pysheetBlog/master/img/logo.png">
<meta property="og:image" content="https://raw.githubusercontent.com/wilfredinni/pysheetBlog/master/img/logo.png">
<meta property="og:type" content="article">

<!-- favicon -->
<link rel="icon" type="image/svg" href="{% static 'merken/img/snake.svg' %}">

{% if settings.enable_analytics %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121059935-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', 'UA-121059935-1');
</script>
{% endif %}

<!-- fontawesome -->
<script defer src="{% static 'merken/js/fontawesome.js' %}"></script>