{% extends 'base_sidebar.html' %}
{% load markdown_tag %}

{% block seo %}
  {% if tag %}
    <meta property="og:title" content="{{ tag }} - {{ site_name }}">
  {% else %}
    <meta property="og:title" content="Blog - {{ site_name }}">
  {% endif %}

  <!-- TODO: change canonical url and description to database -->
  <link rel="canonical" href="{{ canonical_url }}/blog">
  <meta property="og:url" content="{{ canonical_url }}/blog">
  <meta name="description" content="{{ site_description }}">
  <meta property="og:description" content="{{ site_description }}">
  <!-- TODO: truncate the length of this description -->
  <meta name="twitter:description" content="{{ site_description }}"/>
{% endblock seo %}

<!-- title -->
{% block title %}
  {% if tag %}
    <title>{{ tag }} - {{ site_name }}</title>
  {% else %}
    <title>Blog - {{ site_name }}</title>
  {% endif %}
{% endblock title %}

<!-- post list column -->
{% block main_column %}

{% if tag %}
<a class="tags has-addons" href="{{ tag.get_absolute_url }}">
  <span class="tag">Tag</span>
  <span class="tag is-warning">{{ tag }}</span>
</a>
{% endif %}

{% for post in articles %}
<!-- title -->
<div class="has-text-centered header-content">
  <h1 class="blog-title is-hidden-mobile"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
  <h2 class="blog-title font-mobile is-hidden-tablet"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
</div>

<!-- author, date, comments -->
<div class="has-text-centered blog-author-date">
  <p>By <a href="{{ post.author.get_absolute_url }}">{{ post.author }}</a> • {{ post.created_at|date:"M d, Y" }} • <a href="#">comments</a></p>
</div>

<!-- image -->
<img class="blog-img" src="{{ post.img_url }}" alt="{{ post.title }}">

<!-- overview -->
<p>{{ post.overview|render_markdown }}</p>
<hr class="is-hidden-mobile">

<!-- tags and continue reading-->
<div class="level">

  <div class="level-left">
    <a class="button is-hidden-mobile" href="{{ post.get_absolute_url }}">Continue Reading</a>
    <a class="is-hidden-tablet is-pulled-right" href="{{ post.get_absolute_url }}">Continue Reading...</a>
  </div>

  <div class="level is-hidden-mobile">
    <p>Tags: {% for tag in post.tags.all %}
      <a href="{{ tag.get_absolute_url }}">
        <span class="tag is-warning">
          {{tag}}
        </span>
      </a>
      {% endfor %}
    </p>
  </div>

</div>
<div class="blog-space-post"></div>
{% endfor %}
{% endblock main_column %}