:target:before {
    content: "";
    display: block;
    height: 60px;
    /* fixed header height*/
    margin: -60px 0 0;
    /* negative fixed header height */
}

.forkme {
    border: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
}

.navbar-end {
    padding-right: 140px;
}

.navbar-brand-desktop-padding {
    padding-left: 70px;
}

.do-sponsor {
    width: 10%;
}

.footer {
    padding: 3rem 1.5rem;
    background: #f7f4f4;
}

.blog-title {
    font-size: 2.5rem !important;
    margin-bottom: 0px !important;
}

.blog-title a {
    color: #363636;
}

.font-mobile {
    font-size: 2rem !important;
}

.blog-author-date {
    margin-bottom: 2%;
}

.blog-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blog-space-post {
    margin-bottom: 5rem;
}

.blog-side {
    padding-top: 0 !important;
}

.blog-section {
    padding-top: 4rem;
    padding-bottom: 0;
}

.column-section {
    padding: 0rem 0.5rem;
}

.side-column-padding {
    padding-top: 0;
}

.side-contents-title {
    font-size: 24px !important;
    font-weight: 400 !important;
    color: #4a4a4a !important;
}

.side-contents-list {
    margin: 0 1rem !important;
}

.side-contents-sticky {
    position: sticky;
    top: 80px;
}

.newsletter {
    background: #eee;
    margin-bottom: 2rem !important;
}

.newsletter-title {
    margin: 0 !important;
    color: #4a4a4a !important;
}

.side-list-tag {
    margin-top: 2%;
    margin-bottom: 2%;
}

.share {
    border: 1px solid;
    border-radius: 3px;
    margin-right: .75rem;
    width: 25px;
    height: 25px;
}

.twitter {
    color: #03acef;
}

.facebook {
    color: #3c5a9a;
}

.google {
    color: #dc4b3a;
}

pre {
    background-color: #282c34;
    border-radius: 5px;
    margin-top: 2em !important;
    margin-bottom: 2em !important;
}

.hljs {
    padding: 0 !important;
}

/* .content pre {
    padding: 1em 0 !important;
} */

code {
    font-size: 1.1em;
}

.author-title {
    color: #4a4a4a !important;
    font-size: 32px !important;
    font-weight: 400 !important;
}

.index-notification h1,
h4 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: #4a4a4a !important;
}

.overflow-index {
    position: fixed;
    overflow: auto;
    height: 80%;
    width: 21%;
}

/* the index ul */
/* .index-content {
    list-style: none !important;
    margin-left: 5px !important;
} */

.material-scrolltop {
    background: #ffdd57;
    border-radius: 50%;
    border: none;
    bottom: 80px;
    animation: openModal;
    animation-duration: 1s;
}

.material-search {
    background: #ffdd57;
    border-radius: 50%;
    border: none;
    bottom: 23px;
}

.material-scrolltop:hover,
.material-search:hover {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    cursor: pointer;
}

.material-scrolltop,
.material-search {
    display: block;
    height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0;
    right: 2%;
    width: 40px;
    position: fixed;
}

.material-scrolltop:hover,
.material-search:hover {
    background-color: #fad028;
}

/* .search-modal {
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 30;
} */

/* .search-area {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
    margin: 60px auto;
    width: 50%;
    animation: openModal;
    animation-duration: 0.3s;
} */

/* .search-bar {
    border: none;
    color: #dbd9d9;
    font-size: 1rem;
    height: 40px;
    padding: 0 0 0 34px;
    width: 100%;
    margin-bottom: 0;
} */

.pag-ul {
    list-style: none !important;
}

.pag-ul li {
    margin-top: 0 !important;
}

.codefund-side {
    margin-bottom: 2rem;
}

#search-modal {
    background: rgba(0, 0, 0, .5);
    cursor: pointer;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 30;
}

.search-content {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
    margin: 60px auto;
    width: 50%;
    animation: openModal;
    animation-duration: .3s;
    max-height: 33rem;
}

.search-bar {
    border: none !important;
    color: #dbd9d9;
    font-size: 1rem;
    height: 40px;
    padding: 0 0 0 34px;
    position: relative;
    width: 100%;
    box-shadow: none !important;
}

.search-bar:focus {
    box-shadow: none !important;
    color: #4a4a4a;
}


#search-message {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.search-message {
    background-color: #ededed;
    border-bottom: solid 1px #dcdcdc;
    border-top: solid 1px #dcdcdc;
    color: rgba(0, 0, 0, .54);
    font-size: 13px;
    line-height: 40px;
}

#clear-message {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.search-message {
    background-color: #ededed;
    border-bottom: solid 1px #dcdcdc;
    border-top: solid 1px #dcdcdc;
    color: rgba(0, 0, 0, .54);
    font-size: 13px;
    line-height: 40px;
}

.search-mb {
    margin-bottom: 0 !important;
}

.results_p, .search-message {
    padding-left: 35px;
}

.results_a {
    color: #757575;
    font-size: 14px;
    line-height: 40px;
}

.results_p:hover {
    background: #f7f8a9;
}
.results_p, .search-message {
    padding-left: 35px;
}
