{% extends "merken/base_sidebar.html" %}

{% load widget_tweaks %}
{% load account %}
{% load i18n %}

{% block content %}

<div class="hero">
  <div class="container hero-body sing-in-resp">
    <br><br><br><br><br>
    <div class="column is-4 is-offset-4 is-mobile box">
      <h1 class="title has-text-centered">Password Reset</h1>
      {% if user.is_authenticated %}
          {% include "account/snippets/already_logged_in.html" %}
      {% endif %}

      <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
      {% csrf_token %}
        <div class="field">
          <p class="control has-icons-left has-icons-right">
            {{ form.email|add_class:"input" }}
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </p>
        </div>
        <button class="button is-fullwidth is-primary" type="submit">Reset My Password</button>
        <br>
      </form>

    </div>
    <br><br><br><br><br>
  </div>
</div>
{% endblock %}