{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
  <title>{{ article.title }}</title>
</head>

<body class="content">
  <!-- title -->
  <h1>{{ article.title }}</h1>
  <p>Author: {{ article.author }}</p>
  <!-- tags -->
  <p>Tags:
    {% for tag in article.tags.all %}
      <a href="{{ tag.get_absolute_url }}">{{ tag }}</a>
    {% endfor%}
  </p>
  <!-- article content -->
  <p>{{ article.content }}</p>
</body>

</html>