{% extends 'base.html' %}

{% block content %}
<section class="container blog-section">

  <div class="columns column-section">

    <!-- main -->
    <div class="column side-column-padding is-8">
      {% block main_column %}{% endblock main_column %}
    </div>

    <!-- sidebar column -->
    <div class="column section blog-side">
      {% block side_column %}
      <!-- subscribe -->
      <div class="box has-text-centered newsletter is-hidden-mobile">
        <h3 class="has-text-weight-bold newsletter-title">Newsletters</h3><br>
        <p class="control has-icons-left has-icons-right no-unsubscribe">
          <input class="input" type="email" placeholder="Email" disabled>
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </p><br>
        <a class="button is-fullwidth" disabled>Subscribe</a>
        <p class="help has-text-left no-unsubscribe">Unsubscribe any time.</p>
      </div>

      <!-- article content block -->
      {% if article %}
      <div class="side-contents-sticky">
        <div id="index" class="box">
          <h3 class="side-contents-title">Table of Content</h3>
          <ul class="side-contents-list" id="indexList"></ul>
        </div>

        <!-- tag list -->
        <div class="is-hidden-mobile">
          <p>
            <span class="icon"><i class="fas fa-tags"></i></span>
            <span aria-hidden="true"></span>
            _Tags:
          </p>
          {% for tag in tags %}
          <a href="{{ tag.get_absolute_url }}">
            <span class="tag is-warning side-list-tag">{{ tag }}</span>
          </a>
          {% endfor %}
        </div>
      </div>

      {% else %}
      <!-- tag list -->
      <div class="is-hidden-mobile">
        <p>
          <span class="icon"><i class="fas fa-tags"></i></span>
          <span aria-hidden="true"></span>
          _Tags:
        </p>
        {% for tag in tags %}
        <a href="{{ tag.get_absolute_url }}">
          <span class="tag is-warning side-list-tag">{{ tag }}</span>
        </a>
        {% endfor %}
      </div>
      {% endif %}
      {% endblock side_column %}

    </div>
  </div>
</section>
{% endblock content %}