{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'includes/head.html' %}

  <!-- title -->
  {% block title %}
    {% if tag %}
      <title>Tag: {{ tag }}</title>
    {% else %}
      <title>Blog</title>
    {% endif %}
  {% endblock title %}
</head>

<body class="has-navbar-fixed-top">
  {% include 'includes/navbar.html' %}

  <section class="content container">
    {% block content %}
    {% endblock content %}
  </section>

  {% include 'includes/footer.html' %}

</body>

</html>