{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
  <title>Tag</title>
</head>

<body class="content">
  <!-- tag name -->
  <h1>{{ tag }}</h1>

  <ul>
    <!-- working with all the articles -->
    {% for post in articles %}
      <!-- the title -->
      <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
      <!-- the tags -->
      Tags:
      {% for tag in post.tags.all %}
        <a href="{{ tag.get_absolute_url }}">{{ tag }}</a>
      {% endfor %}
      <!-- author username and email -->
      <p>Author: {{ post.author }}</p>
    {% endfor %}
  </ul>
</body>

</html>