{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
  <title>Tag</title>
</head>

<body class="content">
  <!-- tag name -->
  <h1>{{ tag }}</h1>

  <ul>
    <!-- articles by tag -->
    {% for post in articles %}
      <li><a href="#">{{ post.title }}</a></li>
      {% for tag in post.tags.all %}
        {{ tag }}
      {% endfor %}
    {% endfor %}
  </ul>
</body>

</html>