{% extends 'merken/base_sidebar.html' %}

{% block seo %}
{% if tag %}
<meta property="og:title" content="{{ tag }} - {{ settings.site_name }}">
{% else %}
<meta property="og:title" content="Blog - {{ settings.site_name }}">
{% endif %}

<link rel="canonical" href="{{ settings.canonical_url  }}/blog">
<meta property="og:url" content="{{ settings.canonical_url  }}/blog">
<meta name="description" content="{{ settings.site_description }}">
<meta property="og:description" content="{{ settings.site_description }}">
<meta name="twitter:description" content="{{ settings.site_description }}"/>
{% endblock seo %}

<!-- title -->
{% block title %}
  {% if tag %}
    <title>{{ tag }} - {{ settings.site_name }}</title>
  {% else %}
    <title>Blog - {{ settings.site_name }}</title>
  {% endif %}
{% endblock title %}

<!-- post list column -->
{% block main_column %}

  <h1 class="is-hidden-tablet is-hidden-mobile">Python Cheat Sheet Blog</h1>

  {% if tag %}
  <a class="tags has-addons" href="{{ tag.get_absolute_url }}">
    <span class="tag">Tag</span>
    <span class="tag is-warning">{{ tag }}</span>
  </a>
  {% endif %}

{% for post in articles %}
  {% include 'merken/blog/includes/posts.html' %}
{% endfor %}

  {% if is_paginated %}
    {% include 'merken/includes/pagination.html' %}
  {% endif %}
{% endblock main_column %}
